@import url('https://fonts.googleapis.com/css?family=Oswald|Rambla|Sen|Staatliches&display=swap');

body {
  margin: 0;
  padding: 0;
}

:root{
    --color-black: #000000;
    --color-blue: #0000FF;
    --color-white: #ffffff;
    --color-yellow: #e6f141;
    --color-border: #ffffff34;
    --font-staat: 'Staatliches', cursive;
    --font-os:  'Oswald', sans-serif;
    --font-ram: 'Rambla', sans-serif;
    --font-sen: 'Sen', sans-serif;
}

/* global classes */
.font-staat{
    font: normal 400 18px var(--font-staat);
}
.font-os{
    font: normal 300 18px var(--font-os);
}
.font-ram{
    font: normal bold 18px var(--font-ram);
}
.font-sen{
    font: normal 400 18px var(--font-sen);
}

.fontcolor-yellow{
    color: var(--color-yellow);
}
.bgcolor-black{
    background-color: var(--color-black);
}

.bgcolor-blue{
    background-color: var(--color-blue);
}

.font-size-40{
    font-size: 40px;
}
.font-size-34{
    font-size: 34px;
}
.font-size-27{
    font-size: 27px;
}
.font-size-20{
    font-size: 20px;
}
.font-size-16{
    font-size: 16px;
}

/* #global classes */

#header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index:1;
    transition: left .5s ease;
}

#header nav{
    height: 100vh;
}
#header .site-title .navbar-brand{
    letter-spacing: 2px;
    color: var(--color-yellow);
}

#header .nav-link{
    margin: .3rem 1rem;
    border-bottom: 1px solid var(--color-border);
    text-transform: uppercase;
}

#header .nav-link:hover{
    color: var(--color-yellow) !important;
}

#header .toggle-button{
    background: none;
    color: var(--color-blue);
    position: fixed;
    top: 25px;
    right: 20px;
    border: 1px solid var(--color-border);
}


.toggle-left{
    left: 0 !important;
    width: 1200px !important;
}